section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      & + li {
        /* CSS-hacks: toda li que tem uma li antes dela vai receber o margin-top */
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        margin-top: 8px;
        color: #f8f8f8;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: rgb(243, 87, 204);
      }
    }
  }
}
